@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Raleway:200,200i,300,400,500,600&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    max-width: 100%;
    margin: 0 auto;
}

body {
    background-color: #F8FFE5;
    font-family: 'Raleway', sans-serif;
}


/*
    THE GENERAL FONT THEME
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: #223843;
    text-decoration: none;
}

h1 {
    font-size: 5em;
    font-weight: 300;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
    border-bottom-width: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 25px;
}

.full-stop {
    color: #D77A61;
    font-family: 'Montserrat';
}

.about {
    font-size: 0.7858em;
    font-weight: 480;
    font-family: 'Montserrat';
}

#cliche {
    font-weight: 300;
    color: #D77A61;
}

b {
    color: #D77A61;
    font-weight: 500;
}

h6 {
    color: #D77A61;
    font-weight: 500;
}

nav ul {
    list-style-type: none;
    margin-top: 20px;
    margin-right: 30px;
    padding-right: 15px;
    padding-top: 10px;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    padding: 12px;
    font-size: 0.865em;
}

a:hover {
    color: #D77A61;
}

#caption {
    font-size: 0.7em;
}

footer {
    text-align: center;
    margin-top: 65px;
    padding: 20px;
    width: auto;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.35em;
    /*remove bullets from the list*/
}

footer ul li a svg {
    fill: #D77A61;
    width: 1.175rem;
    height: 1.175rem;
    -webkit-transition: fill 350ms ease;
    -moz-transition: fill 350ms ease;
    -ms-transition: fill 350ms ease;
    -o-transition: fill 350ms ease;
    transition: fill 350ms ease;
}

footer ul li a:hover svg {
    fill: #D8B4A0;
}

.intro {
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.column {
    float: left;
    padding: 10px;
    width: 55%;
    margin-left: 15px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Left and right column */

.column.side {
    float: right;
    width: 35%;
    text-align: center;
}

.form-card {
    width: 360px;
    height: 400px;
    margin: 60px auto 0;
    background-color: #D77A61;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, .10);
}

#connect {
    max-width: 600px;
    margin: 0;
}